---
layout: default
gallery:
  - column-size: col-4_sm-12
    aspect-ratio: portrait
    background_image: /uploads/the-sleep-co-pug.jpg
  - column-size: col-6_sm-12
    aspect-ratio: square
    background_image: /images/the-sleep-co-bed.jpg
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /images/the-sleep-co-bed-lamp.jpg
  - column-size: col-4
    aspect-ratio: portrait
    background_image: /images/the-sleep-co-yellow-bg-pillow.jpg
  - column-size: col-4
    aspect-ratio: portrait
    background_image: /images/the-sleep-co-bed-lamp.jpg
  - column-size: col-4
    aspect-ratio: portrait
    background_image: /images/the-sleep-co-pug.jpg
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /images/the-sleep-co-yellow-bg-pillow.jpg
---

<!---------------------------- header banner ------------------------>
<header class="grid tall-100 md-tall-80">

	{% include header-nav.html %}

	<div class="col-12 center">
		<h3 class="font-weight-bold editable" data-aos="fade-in" data-aos-duration="1000"> 
			<span class="featured-text">Experience </span> our beds
		</h3>
		<h1 class="font-weight-light editable" data-aos="fade-up" data-aos-delay="500">The ultimate mattress solution</h1> 
	</div>  
</header>


<!---------------------- Photo Gallery Section  ------------------------>
<section>
	<div class="gallery grid">

		{% for item in page.gallery %}
		<div class={{item.column-size}}>
			<div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background-image}}');"></div>
		</div>
		{% endfor %}
	</div>	


	<!-- <div class="gallery grid">
		<div class="col-4">
			<div class="bg-image portrait bg-pos-t bg-img-adv1"></div>
		</div>
		<div class="col-8">
			<div class="bg-image landscape bg-img-adv2"></div>
		</div>	
		<div class="col-6">
			<div class="bg-image square bg-pos-b bg-img-1"></div>
		</div>
		<div class="col-6">
			<div class="bg-image square bg-pos-b bg-img-2"></div>
		</div>
		<div class="col-4_xs-12">
			<div class="bg-image portrait bg-img-3 bg-pos-l"></div>
		</div>
		<div class="col-4_xs-12">
			<div class="bg-image portrait bg-img-4 bg-pos-l"></div>
		</div>
		<div class="col-4_xs-12">
			<div class="bg-image portrait bg-img-5 bg-pos-l"></div>
		</div>
		<div class="col-12">
			<div class="bg-image landscape bg-img-6"></div>
		</div>
	</div>	 -->
</section>
