---
layout: default
featured: 
 - icon: fas fa-cloud
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad inventore recusandae facere, tenetur quam incidunt molestiae, optio ipsum, illo rerum perferendis commodi similique porro ipsam. Tempore facilis asperiores molestiae? Exercitationem.
 - icon: fas fa-apple-alt
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad inventore recusandae facere, tenetur quam incidunt molestiae, optio ipsum, illo rerum perferendis commodi similique porro ipsam. Tempore facilis asperiores molestiae? Exercitationem.
 - icon: fas fa-atom
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad inventore recusandae facere, tenetur quam incidunt molestiae, optio ipsum, illo rerum perferendis commodi similique porro ipsam. Tempore facilis asperiores molestiae? Exercitationem.
 - icon: fas fa-chart-pie
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad inventore recusandae facere, tenetur quam incidunt molestiae, optio ipsum, illo rerum perferendis commodi similique porro ipsam. Tempore facilis asperiores molestiae? Exercitationem.
---

<!---------------------------- header banner ------------------------>
        <header class="grid tall-100 md-tall-80">

            {% include header-nav.html %}

            <div class="col-12 center">
                <h3 class="font-weight-bold editable"> <span class="featured-text">Sleep </span> like a baby</h3>
                <h1 class="font-weight-light editable">The ultimate mattress solution</h1> 
            </div>  
        </header>
<!--------------------  gallery section -------------------------->
        <section  class="grid">
            <div class="col-6_xs-12-middle padded">
                <h2 class="editable">built to last a <span class="featured-text editable">lifetime</span></h2>
                <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veniam dolorum eaque quasi eligendi iusto omnis! Maxime excepturi aperiam qui animi consectetur itaque repudiandae unde? Modi, labore. Amet, inventore eligendi. </p>
                <p class="editable"> ipsum dolor sit amet consectetur adipisicing elit. At dolore dignissimos adipisci minus error dolores, quod dolor in voluptatum repudiandae, suscipit reprehenderit eum deleniti officiis, quae facilis? Assumenda, molestias porro.</p>
                <p class="editable"> ipsum dolor sit amet consectetur adipisicing elit. At dolore dignissimos adipisci minus error dolores, quod dolor in voluptatum repudiandae, suscipit reprehenderit eum deleniti officiis, quae facilis? Assumenda, molestias porro.</p>
            </div>
            <div class="col-6_xs-12-medium bg-image bg-image-lamp tall-70 hide-xs editable">
                <!-- background image bed -->
            </div>
            <div class="col-6_xs-12-medium bg-image bg-image-pug tall-70">
                <!-- background image sleeping pug -->
            </div>
            <div class="col-6_xs-12-middle padded editable">
                <h2 class="editable">so <span class="featured-text">soft </span>you'll melt</h2>
                <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veniam dolorum eaque quasi eligendi iusto omnis! Maxime excepturi aperiam qui animi consectetur itaque repudiandae unde? Modi, labore. Amet, inventore eligendi.    
                </p>
                <p class="editable"> ipsum dolor sit amet consectetur adipisicing elit. At dolore dignissimos adipisci minus error dolores, quod dolor in voluptatum repudiandae, suscipit reprehenderit eum deleniti officiis, quae facilis? Assumenda, molestias porro.     
                </p>
            </div>
        </section>

<!---------------------------- feature icon grid ----------------------------->
        <section class="grid padded bg-dark">
            <div class="col-12 padded-sm center"> 
                <h2> <span class="featured-text">features</span> you will love</h2>
            </div>

            {% for item in page.featured %}
            <div class="col-3_sm-6 xxs-stack padded-sm">
                <i class="{{item.icon}}"></i>
                <p> {{item.description}}</p>
            </div>
            {% endfor %}
           
        </section>
<!---------------------------- image banner ----------------------------->

        <section class="grid padded center bg-image-pillow tall-50">
            <div class="col-12-middle">
                <h3 class="big-text editable"> <span class="font-weight-normal small-text">never underestimate the power of </span>
                    <br>
                    a good nights <span class="white-text">sleep </span>
                </h3>
            </div>  
        </section>

<!---------------------------- testimonial section ----------------------------->

        <section class="grid padded-lg">
            <div class="col-1 right">
                <span class="quote-icon">&ldquo;</span>
            </div>
            <div class="col-10 center font-weight-light">
                <p class="medium-text editable">I've never experienced sleep like this. Omg I really love this mattress I want to buy one for every member of my family.</p>
                <p class="subtitle editable"> - A very happy customer</p>
            </div>
            <div class="col-1">
                <span class="quote-icon">&rdquo;</span>
            </div>
        </section>

