---
layout: default
cards:
 - heading: Standard Mattress
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad inventore recusandae facere, tenetur quam incidunt molestiae, optio ipsum, illo rerum perferendis commodi similique porro ipsam. Tempore facilis asperiores molestiae? Exercitationem.
   featured_image: /images/the-sleep-co-pug.jpg
 - heading: Deluxe Mattress
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad inventore recusandae facere, tenetur quam incidunt molestiae, optio ipsum, illo rerum perferendis commodi similique porro ipsam. Tempore facilis asperiores molestiae? Exercitationem.
   featured_image: /images/the-sleep-co-yellow-bg-pillow.jpg
 - heading: Luxury Mattress
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad inventore recusandae facere, tenetur quam incidunt molestiae, optio ipsum, illo rerum perferendis commodi similique porro ipsam. Tempore facilis asperiores molestiae? Exercitationem.
   featured_image: /images/the-sleep-co-bed-lamp.jpg
---

<!---------------------------- header banner ------------------------>
        <header class="grid tall-60">

            {% include header-nav.html %}

            <div class="col-12 center">
                <h3 class="font-weight-bold editable"> <span class="featured-text">addictively </span>soft</h3>
                <h1 class="font-weight-light editable">You wont want to get out of bed</h1> 
            </div>  
        </header>

<!---------------------------- product page icon grid ----------------------------->
        <section class="grid padded bg-feature tall-60">
            <div class="col-12 padded-sm center"> 
                <h2 class="editable"> our mattress <span class="white-text">promise</span></h2>
            </div>
            <div class="col-3_md-6 xxs-stack padded-sm">
            <h3 class="editable"> little heading</h3>
                <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad inventore recusandae facere,, optio ipsum, illo rerum perferendis commodi similique porro ipsam. .</p>
            </div>
            <div class="col-3_md-6 xxs-stack padded-sm"> 
                <h3 class="editable"> little heading</h3>
                <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad inventore recusandae facere, optio ipsum, illo rerum perferendis commodi similique porro ipsam. </p>
            </div>
            <div class="col-3_md-6 xxs-stack padded-sm"> 
                <h3 class="editable"> little heading</h3>
                <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad inventore recusandae facere, optio ipsum, illo rerum perferendis commodi similique porro ipsam. </p>
            </div>
            <div class="col-3_md-6 xxs-stack padded-sm"> 
                <h3 class="editable"> little heading</h3>
                <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad inventore recusandae facere, optio ipsum, illo rerum perferendis commodi similique porro ipsam. </p>
            </div>
        </section>

<!---------------------------- card section ----------------------------->
        <section class="grid-spaceAround tall-90 padded">
            {% for item in page.cards %}
            <div class="col-3_sm-12 card">
                <div class="bg-image tall-40 margin-bottom" style="background-image: url('{{item.featured_image}}');
                background-position: 50% 30%;">
                    <!-- standard mattress pic -->
                </div>
                <div class="padded">
                    <h3 class="editable"> {{item.heading}}</h3> 
                    <p class="editable"> {{item.description}} </p>
                </div> 
            </div>
            {% endfor %}
        </section>

<!------------------------------ banner  ------------------------------------->
        <section class="grid padded bg-dark">
            <div class="col-12 padded-sm center"> 
                <h3 class="big-text"> <span class="font-weight-normal small-text editable">spend over $150 and activate </span></h3>
                <h2 class="big-text editable"> <span class="featured-text">free</span> express shipping</h2>  
            </div>
        </section>

<!----------------------  gallery section ------------------------------------>
        <section  class="grid">
            <div class="col-6_xs-12-middle padded">
                <h2 class="editable">a catchy <span class="featured-text editable">heading</span></h2>
                <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veniam dolorum eaque quasi eligendi iusto omnis! Maxime excepturi aperiam qui animi consectetur itaque repudiandae unde? Modi, labore. Amet, inventore eligendi. </p>
                <p class="editable"> ipsum dolor sit amet consectetur adipisicing elit. At dolore dignissimos adipisci minus error dolores, quod dolor in voluptatum repudiandae, suscipit reprehenderit eum deleniti officiis, quae facilis? Assumenda, molestias porro.</p>
                <p class="editable"> ipsum dolor sit amet consectetur adipisicing elit. At dolore dignissimos adipisci minus error dolores, quod dolor in voluptatum repudiandae, suscipit reprehenderit eum deleniti officiis, quae facilis? Assumenda, molestias porro.</p>
            </div>
            <div class="col-6_xs-12 hide-xs bg-image bg-image-lamp tall-70">
                <!-- background image bed -->
            </div>
            <div class="col-6_xs-12 bg-image bg-image-pug tall-70">
                <!-- background image sleeping pug -->
            </div>
            <div class="col-6_xs-12-middle padded editable">
                <h2 class="editable"><span class="featured-text">something </span>else </h2>
                <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veniam dolorum eaque quasi eligendi iusto omnis! Maxime excepturi aperiam qui animi consectetur itaque repudiandae unde? Modi, labore. Amet, inventore eligendi.</p>
                <p class="editable"> ipsum dolor sit amet consectetur adipisicing elit. At dolore dignissimos adipisci minus error dolores, quod dolor in voluptatum repudiandae, suscipit reprehenderit eum deleniti officiis, quae facilis? Assumenda, molestias porro.</p>
            </div>
            <div class="col-6_xs-12-middle padded">
                <h2 class="editable"><span class="featured-text editable">another </span>heading</h2>
                <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veniam dolorum eaque quasi eligendi iusto omnis! Maxime excepturi aperiam qui animi consectetur itaque repudiandae unde? Modi, labore. Amet, inventore eligendi. </p>
                <p class="editable"> ipsum dolor sit amet consectetur adipisicing elit. At dolore dignissimos adipisci minus error dolores, quod dolor in voluptatum repudiandae, suscipit reprehenderit eum deleniti officiis, quae facilis? Assumenda, molestias porro.</p>
                <p class="editable"> ipsum dolor sit amet consectetur adipisicing elit. At dolore dignissimos adipisci minus error dolores, quod dolor in voluptatum repudiandae, suscipit reprehenderit eum deleniti officiis, quae facilis? Assumenda, molestias porro.</p>
            </div>
            <div class="col-6_xs-12 hide-xs bg-image bg-image-lamp tall-70">
                <!-- background image bed -->
            </div>
        </section>
