/** colors 
    yellow #F8BB2B
 **/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* universal styles and utility classes */

body {
    font-family: 'Catamaran', sans-serif;
    color: #192b37;
}

.padded    {padding: 5%}
.padded-sm {padding: 1rem}
.padded-lg  {padding: 10%;}

.margin-bottom { margin-bottom: 1rem;}



.bg-dark {
    background-color: #192b37;
    color: #fff;
}

.bg-feature {
    background-color: #F8BB2B;
}

.bg-light {
    background-color: #e3ecf2;
}

.tall-30  {min-height: 30vh;}
.tall-40  {min-height: 40vh;}
.tall-50  {min-height: 50vh;}
.tall-60  {min-height: 60vh;}
.tall-70  {min-height: 70vh;}
.tall-80  {min-height: 80vh;}
.tall-90  {min-height: 90vh;}
.tall-100 {min-height: 100vh;}


.button {
    background-color: #192b37;
    border: 1px solid #192b37;
    border-radius: 3px;
    padding: .3rem 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

 
/************* image and video styles ****************/

.bg-image-pug {
    background-image: url('/images/the-sleep-co-pug.jpg');
    background-size: cover;
    background-position: 50% 30%;
}

.bg-image-lamp {
    background-image: url('/images/the-sleep-co-bed-lamp.jpg');
    background-size: cover;
}

.bg-image-pillow {
    background-image: url('/images/the-sleep-co-yellow-bg-pillow.jpg');
    background-size:cover;
    background-position: 50% 55%;
}

/* iframe {
    width: 560px; 
    height: 315px;
} */


/************ typography styles ************/

.text-left   {text-align: left;}
.text-center {text-align: Center;}
.text-right  {text-align: right;}

.featured-text {color: #F8BB2B;}
.white-text {color: #fff;}
.dark-text  {color: #192b37}

.small-text { font-size: 1.5rem;}
.medium-text {
    font-size: 2rem;
    line-height: 1.2;

}

.big-text { font-size: 4rem;}

.subtitle {
    font-size: 1.2rem;
    color: rgb(120, 120, 125);
}

.quote-icon {
    font-size: 6rem;
    line-height: 1;
    display: inline-block;
    color: rgb(120, 120, 125);

}
.font-weight-light {font-weight: 200;}
.font-weight-normal {font-weight: normal;}
.font-weight-bold {font-weight: 800;}

.uppercase {
    text-transform: uppercase;
}

h2, h3, h4, h5, h6 p {
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.3;
}

h3 {
    font-size: 1.5rem;
    line-height: 1;
}

p { 
    font-weight: 200;
    line-height: 1.5;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover { color: #F8BB2B; }



/**************** contact form  ******************/

form input,
form textarea {
	font-family: inherit;
    font-size: 1rem;
    letter-spacing: .07em;
    color:rgb(120, 120, 125);
    width: 100%;
	margin: 0.25rem 0;
	padding: .5rem .75rem;
	border: 1px solid #fff;
    border-radius: 5px;
	outline: none;	
}

textarea {
	min-height: 10rem;
}

form button {
	background-color:#F8BB2B;
	color: #fff;
	border: 2px solid #F8BB2B;
    border-radius: 3px;
    width: 100%;
	padding: .75rem 2rem;
	margin: .5rem 0;
	letter-spacing: .05em;
    font-size: 1rem;
    font-weight: 500;
}


/**************** header & footer styles ******************/

header {
    background-image: url('/images/the-sleep-co-bed.jpg');
    background-position: 50% 35%;
    background-size: cover;
    background-repeat: no-repeat;
}

header h3 {
    font-size: 5rem;
    line-height: .85;
}

a {
    border: none;
}

.copyright {
    background-color:black;
    color: #fff;
    padding: .5rem 0;
}

/** icon grid **/
.fas {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.social-links {
        border: 2px solid #fff;
        font-size: 2.5rem;
        padding: .5rem .75rem;
        margin: 1.5rem .5rem;
}


/** cards **/

.card {
    border: 5px solid #F8BB2B;
    padding: 0;
}

