/** colors 
    yellow #F8BB2B
 **/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* universal styles and utility classes */

body {
    font-family: 'Catamaran', sans-serif;
    color: #192b37;
}

.padded    {padding: 5%}
.padded-sm {padding: 1rem}
.padded-lg  {padding: 10%;}

.bg-dark {
    background-color: #192b37;
    color: #fff;
}

.tall-50  {min-height: 50vh;}
.tall-60  {min-height: 60vh;}
.tall-70  {min-height: 70vh;}
.tall-80  {min-height: 80vh;}
.tall-90  {min-height: 90vh;}
.tall-100 {min-height: 100vh;}

/************* image styles ****************/

.bg-image-pug {
    background-image: url('/images/the-sleep-co-pug.jpg');
    background-size: cover;
    background-position: 50% 30%;
}

.bg-image-lamp {
    background-image: url('/images/the-sleep-co-bed-lamp.jpg');
    background-size: cover;
}

.bg-image-pillow {
    background-image: url('/images/the-sleep-co-yellow-bg-pillow.jpg');
    background-size:cover;
    background-position: 50% 55%;
}


/**** typography styles ****/

.text-left   { text-align: left;}
.text-center { text-align: Center;}
.text-right  { text-align: right;}

.featured-text { color: #F8BB2B;}
.white-text { color: #fff;}

.small-text { font-size: 1.5rem;}
.medium-text {
    font-size: 2rem;
    line-height: 1.2;

}
.big-text { font-size: 4rem;}

.subtitle {
    font-size: 1.2rem;
    color: rgb(120, 120, 125);
}

.quote-icon {
    font-size: 6rem;
    line-height: 1;
    display: inline-block;
    color: rgb(120, 120, 125);

}
.font-weight-light {font-weight: 200;}
.font-weight-normal {font-weight: normal;}
.font-weight-bold {font-weight: 800;}

h2 {
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 1rem;
}

h3 {
    line-height: 1;
}

p { 
    font-weight: 200;
    line-height: 1.4;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover { color: #F8BB2B; }


/***** header & footer styles ****/

header {
    background-image: url('/images/the-sleep-co-bed.jpg');
    background-position: 50% 35%;
    background-size: cover;
    background-repeat: no-repeat;
}

header h3 {
    font-size: 5rem;
    line-height: .85;
}

a {
    border: none;
}

/** icon grid **/
.fas {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}