<div class="header-nav grid col-12-top">
    <div class="col-5_sm-11-middle sm-text-center sm-padded-b-0">
        <a href="index.html" class="logo"> 
            <h2>The Sleep Co</h2>
        </a>
    </div>
    <nav class="col-7_sm-12-middle right sm-text-center hide-sm">
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="products.html">Products</a>
        <a href="gallery.html">Gallery</a>
        <a href="contact.html">Contact</a>
    </nav>

    <div class="col-1 show-sm">
        <div class="hamburger-button">
            <i class="fas fa-bars"></i>
        </div>    
    </div>
</div>

<nav class="mobile-menu bg-feature padded">
    <a href="about.html">About</a>
    <a href="products.html">Products</a>
    <a href="gallery.html">Gallery</a>
    <a href="contact.html">Contact</a>
</nav>