<footer class="grid-middle-spaceAround padded-lg bg-dark">
<div class="col-6_sm-12 center">
<h2 class="uppercase font-weight-bold medium-text">The Sleep Co </h2>
<p class="editable">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi impedit aperiam temporibus atque, iure eveniet quasi delectus eum provident maiores tempora quod voluptas obcaecati.</p>
</div>
<div class="grid-middle-spaceAround col-12 center">
<nav class="col-6_sm-12 center">
<a href="#"><i class="fab fa-facebook-f social-links"></i></a>
<a href="#"><i class="fab fa-pinterest-p social-links"></i></a>
<a href="#"><i class="fab fa-instagram social-links"></i></a>
</nav>
</div>
</footer>
<div class="grid">
<p class="col-12-middle center copyright">Copyright 2021</p> 
</div>
