
<section class="grid padded-lg">
    <div class="col-1 right">
        <span class="quote-icon">&ldquo;</span>
    </div>
    <div class="col-10 center font-weight-light">
        <p class="medium-text editable">I've never experienced sleep like this. Omg I really love this mattress I want to buy one for every member of my family.</p>
        <p class="subtitle editable"> - A very happy customer</p>
    </div>
    <div class="col-1">
        <span class="quote-icon">&rdquo;</span>
    </div>
</section>